@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

input {
  width: 100%;
  padding: 1rem;
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
